{% extends "layout.html" %}

{% block title %}
    Base
{% endblock %}

{% block nav %}

    <div class="page-container">

            <div class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">StockTalk</a>
                    </div>
                    <div class = "order-3">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/bookmarks">Bookmarks</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    </div>
            </div>
    </div>

{% endblock %}
{% block main %}

<div class = "row justify-content-md-center">
    <div class="col-md-6 text-center "><h4>Stock Prediction</h4></div>
</div>
<div class = "row justify-content-md-center">
    <div>
        <form action="/" method="post" class="col-md-12 text-center top30">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Predict</button>
        </form>
    </div>
</div>

{% endblock %}