{% extends "layout.html" %}

{% block title %}
    Base
{% endblock %}

{% block main %}

<div class = "row justify-content-md-center">
    <div class="col-md-6 text-center "><h4>Stock Prediction</h4></div>
</div>
<div class = "row justify-content-md-center">
    <div>
        <form action="/" method="post" class="col-md-12 text-center top30">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="ticker" placeholder="Stock Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Predict</button>
        </form>
    </div>
</div>

{% endblock %}